<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<h2>Dispaly Song List</h2>
<table border="1px"  cellpadding="10px">
	<thead>
	<tr>
		<th>Name</th>
		<th>Artist</th>
		<th>Genre</th>
		<th>Link</th>
	</tr>
	</thead>
	 <tbody>
            <tr th:each="songlist:${songlist}">
                <td th:text=${songlist.name}>  </td>
                <td th:text=${songlist.artist}>  </td>
                <td th:text=${songlist.genre}>  </td>
				<td> 
				<audio controls>
				<source th:src=${songlist.link} type="audio/mpeg"></audio>
				 </td>
            </tr>
		</tbody>
</table>
</body>
</html>